::selection {
	background: #c0392b ; /* Safari */
    color:#FFF
	}
::-moz-selection {
	background: #c0392b ; /* Firefox */
     color:#FFF
}


.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #fff url('http://www.isaccochiaf.me/docg/img/loader.gif') no-repeat center center; }


  .darkergray{ background-color:#242424 } 
.lightgray{ background-color:#bcc2c6 } 

.alabaster {color:#48484a }
  .orange {color:#a8221b }
.red {background-color:#c0392b }
  .darkgray{ background-color:#7f8c8d;}
  .green{ background-color:#16a085;}
  .gray{ background-color:#262728;}
  .blu{ background-color:#2c3e50;}
   .light{ background-color:#ecf0f1;}
  .logo { background-image:url(../img/logo.png); background-position:center; background-repeat:no-repeat; height:270px;}
    .icon-farm { background-image:url(../img/icon-farm-1.png); height:86px; background-position:center; background-repeat:no-repeat; margin:50px 0px 30px 0px; }
  
  
  
/* Tipografia */
	.centred{ text-align:center}
	.band{ height:300px;}
	.white{ color:#FFF;}
	.titolo{ font-size:260%; font-family: 'Lato', sans-serif; text-align:center; font-weight:900; padding-top:10%}
	.intestazione{ font-size:160%; text-align:center; font-weight:400; padding-top:20px; font-family: 'Gentium Basic'; font-style:italic; letter-spacing:1px; }
	.sub-intestazione{ font-size:140%; font-family: 'Lato', sans-serif; text-align:center; font-weight:300; padding:5px 0; letter-spacing:3px;}
	.sub-intestazione strong{  font-weight:900;}

	.sub-titolo{font-size:160%; font-family: 'Lato', sans-serif; text-align:center; font-weight:300; padding:10px 0 20px 0;}
	.italic {font-family: 'Gentium Book Basic', serif; font-style:italic;}
    .testo {
    font-family: 'Merriweather', serif; font-weight:300;
}

	
	/*SECTION 02*/
	
	.titolo-02{ font-size:200%; font-family: 'Lato', sans-serif;  font-weight:900; text-align:center;}
	
	/*SECTION 03*/
		
	.titolo-03 { font-size:260%; font-family: 'Lato'; border-top:solid #666 thin; border-bottom:solid #666 thin; font-weight:600;
	padding:14px 0; }
	.icon { background-image:url(../img/icon.png); height:86px; background-position:center; background-repeat:no-repeat; margin:50px 0px 30px 0px; }

 
    .icon-light { background-image:url(../img/icon-light.png); background-position:center; background-repeat:no-repeat; height:86px; margin:50px 0px 30px 0px;}

    .icon-01 { background-image:url(../img/icon-01.png); background-position:center; background-repeat:no-repeat; height:86px; margin:50px 0px 30px 0px;}

	
	/*SECTION 03*/
	
	.titolo-04{ font-size:160%; font-family: 'Lato', sans-serif; text-align:left; font-weight:300; padding:30px 0 20px 0; letter-spacing:2px; line-height:1.3em; }

	
  
   
	
	
	
	/* Tipografia */
	
	.footer-text {font-family: 'Lato', sans-serif; font-weight:100; font-size:14px; color:#868d91}
.footer-titolo {font-family: 'Lato', sans-serif; font-weight:100;}
.footer-titolo strong {font-family: 'Lato', sans-serif; font-weight:900; letter-spacing:2px;}
	.white{ color:#FFF;}

	
	.italic {font-family: 'Gentium Book Basic', serif; font-style:italic;}
	.bold {font-weight:700; font-style:italic;}
	.head{ font-size:200%}
	.cit{ border-left:solid medium #c0392b; padding-left:8%	}
	.contenuto{ font-size:140%; letter-spacing:1px;}
	.ph{ font-family: 'Gentium Basic', serif; font-size:100%}
	.logo { background-image:url(../img/logo.png); background-position:center; background-repeat:no-repeat; height:270px;}